@import "main-styles";
//@import "color";

.about {
  //@extend .bg-white;
  background-color: white;
  color: var(--color-black);
  height: auto;

  @extend .section;
  padding: 90px 32px;
  @include breakpoint-up(lg) {
    padding: 150px 32px;
  }
  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__content {
    max-width: 800px;
    @include breakpoint-up(lg) {
      max-width: 100%;
      margin-left:100px;
    :host-context([dir="rtl"]) & {
      margin-left:0;
      margin-right:100px;
    }
    }
  }

  &__title {
    color: #AFA75B;
    font-family: inherit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 54.5px */
    letter-spacing: 0.5px;
    margin: 0;
    @include breakpoint-up(lg) {
      font-size: 80px;
    }
  }


  &__paragraph {
    margin-bottom: 24px;

    color: #000;
    font-family: inherit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;

    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint-up(lg) {
      font-size: 46px;
    }
  }
}
