:host {
  display: block;
  font-family: "Bliss Pro", sans-serif;
  :host-context([dir="rtl"]) & {
    font-family: "Noto Sans Arabic", sans-serif;
  }
}

@font-face {
  font-family: 'Bliss Pro';
  src: url('/assets/fonts/blsprw-rg.woff2') format('woff2'),
  url('/assets/fonts/blsprw-rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



