<section class="services" id="services">
  <div class="services__container">
    <h2 class="services__title">Our Services</h2>
    <div class="services__content">
      <p class="services__paragraph">Culture House designs compelling brand experiences by blending creativity, strategy, and technology to foster genuine connections and fuel business success. Discover our capabilities.</p>
      <a href="#connect" class="services__cta">
        Let's connect
        <svg class="services__arrow" width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 12H22" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M15 5L22 12L15 19" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
    <!-- Services Listing -->
    <!-- Services Listing -->
    <div class="services__listing">
      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        User journey design
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Social media
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Brochures
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Produce TV shows concepts
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Content creation
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Gifts
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Publish magazines
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Printed books
      </div>
      <hr class="services__divider">

      <div class="services__item">
        <span class="services__bullet"><img src="assets/bullet-point.svg" alt=""></span>
        Exhibitions
      </div>
    </div>

  </div>
</section>
