@import 'main-styles';

.services {
  background-color: white;
  color: black;
  padding: 90px 32px;
  @include breakpoint-up(lg) {
    padding: 150px 32px;
  }
  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    color: #AFA75B;
    font-family: inherit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 54.5px */
    letter-spacing: 0.5px;
    margin: 0;

    @include breakpoint-up(lg) {
      font-size: 80px;
    }
  }

  &__content {
    max-width: 800px;
    @include breakpoint-up(lg) {
      margin-left: 100px;
      max-width: 1283px;
      :host-context([dir="rtl"]) & {
        margin-left: 0;
        margin-right: 100px;
      }
    }
  }

  &__paragraph {
    margin-bottom: 24px;
    color: #000;
    font-family: inherit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    @include breakpoint-up(lg) {
      font-size: 46px;
    }
  }

  &__cta {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.48px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    margin-top: 10px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__arrow {
    margin-left: 12px;
    :host-context([dir="rtl"]) & {
      margin-left: 0;
      margin-right: 12px;
      transform: rotate(180deg);
    }
  }

  /* Services Listing Styles */
  &__listing {
    margin-top: 80px;

    @include breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__column {
    @include breakpoint-up(lg) {
      width: calc(50% - 35px); // 50% minus half of the gap
    }
  }

  &__item {
    color: #000;
    font-family: inherit;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.29px;
    padding: 32px 0;
    margin: 0;
    display: flex;
    align-items: center;
    @include breakpoint-up(lg) {

    }
  }

  &__bullet {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
    :host-context([dir="rtl"]) & {
      margin-right: 0;  margin-left: 25px;
    }
    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
  }

  &__divider {
    height: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
  }
}
