.recent-work {
  background-color: black;
  padding: 75px 0;
  width: 100%;
  overflow: hidden;

  &__title {
    white-space: nowrap;
    //overflow: hidden;
    padding: 0 ;
    margin-bottom: 32px;
    margin-top: 0;
    color: #AFA75B;
    text-align: center;
    font-family: "Bliss Pro", serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 109px */
  }

  &__projects {
    display: flex;
    flex-direction: column;
  }

  &__project {
    padding: 0 32px;
    margin-bottom: 43px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  &__project-title {
    margin: 13px 0;
    color: #FFF;
    font-family: "Bliss Pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.48px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
