<section class="support" id="help">
  <div class="support__container">
    <h2 class="support__title">How can Culture House support you?</h2>
    <div class="support__content">
      <p class="support__paragraph">Let's unearth the stories that amplify Saudi Arabia's culture and focus on its heritage. Let's use storytelling to build a sense of pride and showcase passion.</p>

      <p class="support__paragraph">Let's craft narratives that spotlight all that is special about Saudi Arabia, and unlock the emotions shared by residents and visitors, as Saudi forges a path towards Vision 2030.</p>

      <p class="support__paragraph">Let's gather and deconstruct the narratives of Saudi Arabia's multiple historical stories, crafts, talents, heritage, arts, architecture, cuisine, people.</p>

      <p class="support__paragraph">Let's ensure that the experience of being in Saudi Arabia reflects being part of a vibrant society, thriving economy, ambitious nation. Let's turn the international investment focus to the opportunities of this thriving area.</p>

      <p class="support__paragraph">And let's amplify these stories as poems of pride for national and international consumption, as part of delivering on the mission of Saudi Arabia as a global tourism destination with its main anchors rooted in its historic culture and heritage.</p>
    </div>
  </div>
</section>
