@import "main-styles";
.support {
  background-color: black;
  color: white;
  height: auto;
  padding: 90px 32px;
  @include breakpoint-up(lg) {
    padding: 150px 110px;

  }

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    color: #AFA75B;
    font-family: inherit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 54.5px */
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;

    @include breakpoint-up(lg) {
      font-size: 80px;
    }
  }

  &__content {
    max-width: 800px;

    @include breakpoint-up(lg) {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      margin-left: 20%;
      :host-context([dir="rtl"]) & {
        margin-left: 0;
        margin-right: 20%;
      }
    }
  }

  &__column {
    @include breakpoint-up(lg) {
      width: calc(50% - 20px); // 50% minus half the gap
    }
  }


  &__paragraph {
    margin-bottom: 24px;
    color: #FFF;
    font-family: inherit;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.23px;

    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint-up(lg) {
      font-size: 24px;

    }
  }

}
